.loader {
  align-items     : center;
  color           : #333;
  display         : inline-flex;
  flex-grow       : 1;
  font-family     : 'Roboto', Arial, sans-serif;
  font-size       : 1.2rem;
  justify-content : center;
  > div {
    background    : rgba(255, 255, 255, 0.95);
    padding       : 30px;
    border-radius : 2px;
  }
}

span {
  display   : flex;
  flex-grow : 1;
}

span[class*="l-"] {
  $size : 4px;
  animation                 : loader 4s infinite;
  animation-fill-mode       : both;
  animation-timing-function : cubic-bezier(0.030, 0.615, 0.995, 0.415);
  background                : #000;
  display                   : inline-block;
  height                    : $size;
  margin                    : 12px 2px;
  width                     : $size;
}

span.l-1 {
  animation-delay : 1s;
}

span.l-2 {
  animation-delay : 0.8s;
}

span.l-3 {
  animation-delay : 0.6s;
}

span.l-4 {
  animation-delay : 0.4s;
}

span.l-5 {
  animation-delay : 0.2s;
}

span.l-6 {
  animation-delay : 0;
}

@keyframes loader {
  0% {
    transform : translateX(-30px) rotate(0deg);
    opacity   : 0;
  }
  25% {
    transform : translateY(-15px) rotate(90deg) scale(2);
    opacity   : 1;
  }
  50% {
    transform : translateX(30px) translateY(10px) rotate(270deg);
    opacity   : 0;
  }
  100% {
    opacity : 0;
  }
}
